.header {
    text-align: center;
    font-family: 'Average', serif;
    margin-top: 4vh;
}
#substance, #abuse {
    display:inline;
    margin: 0 2vw 0 2vw;
}
.title-character {
    height: 8vh;
}
#title {
    margin-top: -1vh;
    font-size: 30pt;
}
#desc {
    margin-top: -2em;
}
.section {
    margin-left: 5vw;
    margin-top: 1vh;
    display: inline-block;
}
.quilt-img {
    width: 10vw;
    cursor: pointer;
}

#enlarger {
    margin-left: 5vw;
}
#image0-enlarged {
    width: 35vw;

    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 20vh;
}

.enlarged-image {
    width: 35vw;
}
.enlarged-group {
    display: none;
    vertical-align: bottom;
}
.caption {
    font-family: 'Average', serif;
}
.introduction {
    font-family: 'Average', serif;
}

#fullscreen {
    position: absolute;
    right:    0;
    bottom:   0;
}